@{
    ViewData["Title"] = "About";
}

<div>
    <h1>About This Website</h1>
    <font size="+3">
        <p>This organizationl web application allows users to create groups and help in communication.</p>
    </font>
</div>
