@{
    ViewData["Title"] = "Contacts";
}


<div>
    <h1>Contacts</h1>
    <p>
        <font size="+3">
            The contact information is provided below.
            <br />
            701 S Nedderman Dr, Arlington, TX 76019
            </font>
</p>

</div>
